<footer class="footer">
	<div class="container">
		<div class="footer__menu">
			<div class="footer__logo">LOGOAuto</div>
			<nav class="nav">
				<a class="footer__link" href="#">Latest Competitions</a>
				<a class="footer__link" href="#">Entry Lists</a>
				<a class="footer__link" href="#">Live Draws</a>
				<a class="footer__link" href="#">Winners</a>
				<a class="footer__link" href="#">Gift Cards</a>
				<a class="footer__link" href="#">How it Works</a>
			</nav>
		</div>
	</div>
</footer>
