<header class="header">
	<div class="container">
		<div class="header__menu">
			<div class="header__logo">LOGO<span>Auto</span></div>
			<nav class="nav">
				<div class="header__list">
					<a class="header__link" href="#">Latest Competitions</a>
					<a class="header__link" href="#">Entry Lists</a>
					<a class="header__link" href="#">Live Draws</a>
					<a class="header__link" href="#">Winners</a>
					<a class="header__link" href="#">Gift Cards</a>
					<a class="header__link" href="#">How it Works</a>
				</div>
			</nav>
			
			<div class="header__user">
				<a class="header__login" href="#">Login</a>
			<button class="btn__register" type="submit">Register</button>
			</div>
			<a href="#" class="burger__menu" >
				<span></span>
			</a>
		</div>
	</div>

</header>
